* {
  margin: 0;
  padding: 0;
}
*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
body .btn,
body input,
body select,
body textarea,
body button,
body a {
  border: none;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  text-decoration: none;
  cursor: pointer;
}
body .btn:focus,
body input:focus,
body select:focus,
body textarea:focus,
body button:focus,
body a:focus,
body .btn:hover,
body input:hover,
body select:hover,
body textarea:hover,
body button:hover,
body a:hover {
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
table th {
  text-align: left;
}
table .col {
  width: auto;
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1170px;
    padding: 0;
  }
}
.hidden {
  display: none !important;
}
.hidden-visibility {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.button-close {
  background-image: none;
  -moz-box-sizing: content-box;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
}
.center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dflex {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.dflex:before,
.dflex:after {
  display: none;
}
.line-bottom {
  position: relative;
}
.line-bottom:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.cover-tab .content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.cover-tab .content.active-tab-content {
  height: auto;
  opacity: 1;
  visibility: visible;
}
@-webkit-keyframes modalIn {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes modalIn {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.modal-open {
  -webkit-animation: modalIn 1s forwards;
          animation: modalIn 1s forwards;
}
@-webkit-keyframes modalOut {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 100px;
    opacity: 0;
  }
}
@keyframes modalOut {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 100px;
    opacity: 0;
  }
}
.modal-close {
  -webkit-animation: modalOut 1s forwards;
          animation: modalOut 1s forwards;
}
body,
html {
  font-family: 'Inter', sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: #091D3E;
}
.breadcrumb-wrapper .title {
  text-align: center;
  background-image: url(../../images/page/qa-page/banner_qa_page.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  padding: 60px 0;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}
.breadcrumb-wrapper li {
  display: inline-block;
}
.breadcrumb-wrapper li:not(:last-child):after {
  content: "\f105";
  font-family: Fontawesome;
  margin: 0 10px;
}
.breadcrumb-wrapper span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.breadcrumb-wrapper a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #858FA0;
}
.breadcrumb-wrapper a:hover {
  color: #0092FF;
}
.pagination {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.pagination li {
  margin: 0 6.5px;
}
.pagination a {
  display: block;
  height: 24px;
  min-width: 24px;
  font-style: normal;
  color: #091D3E;
  padding: 0 8px;
  border-radius: 6px;
  background: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.pagination a:hover,
.pagination a.active {
  background: #0092FF;
  color: #FFFFFF;
}
.pagination a.prev i {
  margin-right: 5px;
}
.pagination a.next i {
  margin-left: 5px;
}
.pagination a.none {
  cursor: no-drop;
  opacity: 0.3;
}
.pagination a.none:hover {
  color: #091D3E;
  background: white;
}
.side-bar img {
  margin: 0 auto;
}
.sidebar-search {
  background-color: #F7F7F7;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 11px 14px;
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.sidebar-search:before,
.sidebar-search:after {
  display: none;
}
.sidebar-search input {
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #858FA0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 8px;
}
.sidebar-search .action.search {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-image: url('../../images/page/online-store/ico-search-black.png');
  background-repeat: no-repeat;
}
.sidebar-search .action.search:hover {
  background-image: url('../../images/page/online-store/ico-search.png');
}
.sidebar-search.active,
.sidebar-search:hover {
  border-color: #0092FF;
}
.blog-page .col-main .toolbar {
  display: none;
}
.blog-page .side-bar {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
}
.blog-page .side-bar:before,
.blog-page .side-bar:after {
  display: none;
}
.blog-page .side-bar > * {
  width: 100%;
}
.blog-page .side-bar .form-registration {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 25px;
}
.blog-page .side-bar .form-registration .title-wrapper {
  margin-bottom: 20px;
}
.blog-page .side-bar .form-registration .title-wrapper .title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
}
.blog-page .side-bar .form-registration .title-wrapper .sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.blog-page .side-bar .form-registration label {
  color: #858FA0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
  width: 100%;
}
.blog-page .side-bar .form-registration sup {
  color: red;
}
.blog-page .side-bar .form-registration .field {
  height: 44px;
  line-height: 44px;
  background: #FFFFFF;
  border: 1px solid #E9E9EC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #091D3E;
  width: 100%;
  padding: 0 12px;
}
.blog-page .side-bar .form-registration .field::-webkit-input-placeholder {
  color: #858FA0;
}
.blog-page .side-bar .form-registration .field::-moz-placeholder {
  color: #858FA0;
}
.blog-page .side-bar .form-registration .field:-ms-input-placeholder {
  color: #858FA0;
}
.blog-page .side-bar .form-registration .field::-ms-input-placeholder {
  color: #858FA0;
}
.blog-page .side-bar .form-registration .field::placeholder {
  color: #858FA0;
}
.blog-page .side-bar .form-registration .field:focus,
.blog-page .side-bar .form-registration .field:hover {
  border: 1px solid #0092FF;
}
.blog-page .side-bar .form-registration .field-date-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 30px;
}
.blog-page .side-bar .form-registration .field-date-wrapper .field-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.blog-page .side-bar .form-registration .field-date-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.blog-page .side-bar .form-registration .field-date-wrapper .fa {
  display: block;
  width: 44px;
  height: 100%;
  background: #F7F7F7;
  border: 1px solid #E9E9EC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 4px 4px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog-page .side-bar .form-registration .field-date-wrapper .result {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #091D3E;
  padding: 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.blog-page .side-bar .form-registration .btn-submit {
  background: -webkit-gradient(linear, left top, left bottom, from(#0092FF), to(#027CD7));
  background: linear-gradient(180deg, #0092FF 0%, #027CD7 100%);
  border-radius: 4px;
  height: 44px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  text-align: center;
  width: 100%;
}
.blog-page .side-bar .form-registration .btn-submit:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#027CD7), to(#0092FF));
  background: linear-gradient(180deg, #027CD7 0%, #0092FF 100%);
}
.blog-page .side-bar .post-hot {
  margin-bottom: 25px;
}
.blog-page .side-bar .post-hot .title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 18px;
  display: inline-block;
  position: relative;
}
.blog-page .side-bar .post-hot .title:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.blog-page .side-bar .post-hot .title:after {
  background-color: #0092FF;
}
.blog-page .side-bar .post-hot li:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E9E9EC;
}
.blog-page .side-bar .post-hot li img {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}
.blog-page .side-bar .post-hot .active .name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.blog-page .side-bar .post-hot .name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #091D3E;
}
.blog-page .side-bar .post-hot .name:hover {
  color: #0092FF;
}
.blog-page .side-bar .post-hot .name img {
  margin: 0 5px;
  width: 13px;
}
.blog-page .side-bar .post-hot .name span {
  color: #0092FF;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}
.blog-page .side-bar .slide-shop-wrapper {
  border: 1px solid #E9E9EC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  padding: 20px 0;
}
.blog-page .side-bar .slide-shop-wrapper .logo {
  display: block;
  margin: 0 auto 15px;
  text-align: center;
}
.blog-page .side-bar .slide-shop-wrapper .title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #0092FF;
  margin-bottom: 25px;
}
.blog-page .side-bar .slide-shop-wrapper img {
  margin: 0 auto;
  max-width: 100%;
}
.blog-page .side-bar .slide-shop-wrapper .slick-slide .item {
  padding-left: 12px;
  padding-right: 12px;
}
.blog-page .page-columns {
  margin-top: 40px;
}
.blog-page .post-info {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #858FA0;
}
.blog-page .post-info time,
.blog-page .post-info .view {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}
.blog-page .post-info time img,
.blog-page .post-info .view img {
  margin-right: 5px;
}
.blog-page .post-info time {
  margin-right: 10px;
}
.blog-page .post-info .postname {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-top: 15px;
}
.blog-page .post-items {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.blog-page .post-items:before,
.blog-page .post-items:after {
  display: none;
}
.blog-page .post-items .post-item {
  padding: 0 15px;
  width: 50%;
  margin-bottom: 24px;
}
.blog-page .post-items .post-item img {
  max-width: 100%;
}
.blog-page .post-items .post-item .img-wrapper img {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 100%;
}
.blog-page .post-items .post-item .content-wrapper {
  margin-top: 16px;
}
.blog-page .post-items .post-item .content-wrapper .categories {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-bottom: 6px;
}
.blog-page .post-items .post-item .content-wrapper .categories a {
  color: #0092FF;
}
.blog-page .post-items .post-item .content-wrapper .categories a:after {
  content: ",";
}
.blog-page .post-items .post-item .content-wrapper .categories a:last-child:after {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.blog-page .post-items .post-item .content-wrapper .categories a:hover {
  color: #091D3E;
}
.blog-page .post-items .post-item .content-wrapper .title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.blog-page .post-items .post-item .content-wrapper .title .title-link {
  color: #091D3E;
}
.blog-page .post-items .post-item .content-wrapper .title .title-link:hover {
  color: #0092FF;
}
.blog-page .post-items .post-item:first-child {
  width: 100%;
}
.blog-page .post-items .post-item:first-child .content-wrapper {
  margin-top: 19px;
}
.blog-page .post-items .post-item:first-child .content-wrapper .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.blog-page .post-items .post-item:first-child .content-wrapper .info {
  margin-top: 14px;
}
.blog-page .pagination {
  margin-top: 16px;
  margin-bottom: 40px;
}
.customer-stories .breadcrumb-wrapper .title {
  background-image: url(../../images/page/customer-stories/breadcrumb.jpg);
  color: #091D3E;
}
.customer-stories .post-items .post-item .content-wrapper .categories {
  display: none;
}
.banner-top a {
  position: relative;
  overflow: hidden;
}
.customer-story-detail {
  background-color: #F9FCFF;
  padding-top: 16px;
}
.customer-story-detail .breadcrumb-wrapper {
  background-image: none;
  color: #091D3E;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.customer-story-detail .post-info {
  margin-bottom: 17px;
}
.customer-story-detail .post-info .postname {
  line-height: 53px;
}
.customer-story-detail .col-main a {
  display: inline-block;
}
.customer-story-detail .col-main .sinature {
  margin-bottom: 16px;
}
.customer-story-detail .col-main .category {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.customer-story-detail .col-main .category:before,
.customer-story-detail .col-main .category:after {
  display: none;
}
.customer-story-detail .col-main .category .label {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #858FA0;
  display: inline-block;
}
.customer-story-detail .col-main .category .list-category {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.customer-story-detail .col-main .category .list-category li {
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}
.customer-story-detail .col-main .category .list-category li a {
  background: white;
  border-radius: 24px;
  display: inline-block;
  padding: 4px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #091D3E;
  border: 1px solid #F7F7F7;
}
.customer-story-detail .col-main .category .list-category li a:hover {
  background-color: #091D3E;
  color: #F7F7F7;
}
.customer-story-detail .col-main .post-footer {
  margin-bottom: 0;
  border-bottom: 0;
}
.customer-story-detail .page-bottom {
  background-color: white;
  padding-top: 55px;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #E9E9EC;
}
.customer-story-detail .page-bottom .list-related-question .question-short-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.customer-story-detail .page-bottom .list-related-question .question-short-content:not(:last-child) {
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E9E9EC;
}
.customer-story-detail .page-bottom .list-related-question .img {
  width: 30%;
  margin-left: 30px;
}
.customer-story-detail .page-bottom .list-related-question .img img {
  width: 100%;
}
.customer-story-detail .page-bottom .list-related-question .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.customer-story-detail .page-bottom .list-related-question .content .name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #091D3E;
  margin-bottom: 10px;
}
.customer-story-detail .page-bottom .list-related-question .content .name:hover {
  color: #0092FF;
}
.customer-story-detail .page-bottom .list-related-question .content .short-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #858FA0;
}
.customer-story-detail .page-bottom .related-question .title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
  .detail-page .post-info .postname {
    font-size: 25px;
    line-height: 30px;
  }
  .customer-story-detail .page-bottom .related-question .title {
    font-size: 25px;
    line-height: 30px;
  }
  .customer-story-detail .page-bottom .related-question .content .name {
    font-size: 18px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .customer-story-detail .page-bottom .list-related-question .question-short-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .customer-story-detail .page-bottom .list-related-question .question-short-content:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .customer-story-detail .page-bottom .list-related-question .content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 16px;
  }
  .customer-story-detail .page-bottom .list-related-question .img {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 575px) {
  .breadcrumb-wrapper .title {
    padding: 24px 16px 16px;
    text-align: initial;
    background-image: none;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
  }
  .blog-page .post-items {
    margin: 0;
  }
  .blog-page .post-items .post-item {
    width: 100%;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #E9E9EC;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .blog-page .post-items .post-item .content-wrapper {
    display: -webkit-box;
    display: -ms-flex-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-page .post-items .post-item .content-wrapper:before,
  .blog-page .post-items .post-item .content-wrapper:after {
    display: none;
  }
  .blog-page .post-items .post-item .content-wrapper .title {
    font-size: 18px;
  }
  .blog-page .post-items .post-item .content-wrapper .categories {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0;
  }
  .blog-page .post-items .post-item .content-wrapper .post-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-page .post-items .post-item .content-wrapper .post-info .label {
    display: none;
  }
  .blog-page .post-items .post-item:first-child .content-wrapper .title {
    font-size: 18px;
  }
  .blog-page .post-items .post-item:last-child {
    margin-bottom: 0;
  }
  .blog-page .pagination {
    margin: 0;
    padding: 16px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blog-page .pagination li:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    margin-left: 0;
  }
  .blog-page .pagination li:first-child a {
    display: inline-block;
  }
  .blog-page .pagination li:last-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 0;
  }
  .blog-page .col-main .toolbar {
    display: block;
    border-width: 1px 0;
    border-style: solid;
    border-color: #E9E9EC;
    padding: 11.5px 12px;
    margin-bottom: 16px;
    margin-left: -12px;
    margin-right: -12px;
  }
  .blog-page .col-main .toolbar .toolbar-amount {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    position: relative;
  }
  .blog-page .col-main .toolbar .toolbar-amount .count {
    color: #858FA0;
  }
  .blog-page .col-main .toolbar .toolbar-amount:after {
    content: "\f0d7";
    font-family: Fontawesome;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
  }
  .blog-page .side-bar {
    display: none;
  }
  .blog-page .page-columns {
    margin-top: 0;
  }
  .blog-page .page-columns .container {
    padding-left: 12px;
    padding-right: 12px;
  }
  .customer-stories .breadcrumb-wrapper .title {
    background-image: none;
  }
  .customer-stories .post-items .post-item .content-wrapper .categories {
    display: block;
  }
  .customer-stories .post-items .post-item .content-wrapper .view-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .customer-stories .post-items .post-item .content-wrapper .post-info {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .detail-page .post-info .postname {
    font-size: 18px;
    line-height: 24px;
  }
  .customer-story-detail .page-bottom .related-question .title {
    font-size: 18px;
    line-height: 24px;
  }
  .row-mobile-12 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col-mobile-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
