* {
  margin: 0;
  padding: 0;
}
*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
body .btn,
body input,
body select,
body textarea,
body button,
body a {
  border: none;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  text-decoration: none;
  cursor: pointer;
}
body .btn:focus,
body input:focus,
body select:focus,
body textarea:focus,
body button:focus,
body a:focus,
body .btn:hover,
body input:hover,
body select:hover,
body textarea:hover,
body button:hover,
body a:hover {
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
table th {
  text-align: left;
}
table .col {
  width: auto;
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1170px;
    padding: 0;
  }
}
.hidden {
  display: none !important;
}
.hidden-visibility {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.button-close {
  background-image: none;
  -moz-box-sizing: content-box;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
}
.center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dflex {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.dflex:before,
.dflex:after {
  display: none;
}
.line-bottom {
  position: relative;
}
.line-bottom:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.cover-tab .content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.cover-tab .content.active-tab-content {
  height: auto;
  opacity: 1;
  visibility: visible;
}
@-webkit-keyframes modalIn {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes modalIn {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.modal-open {
  -webkit-animation: modalIn 1s forwards;
          animation: modalIn 1s forwards;
}
@-webkit-keyframes modalOut {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 100px;
    opacity: 0;
  }
}
@keyframes modalOut {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 100px;
    opacity: 0;
  }
}
.modal-close {
  -webkit-animation: modalOut 1s forwards;
          animation: modalOut 1s forwards;
}
body,
html {
  font-family: 'Inter', sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: #091D3E;
}
.header-top {
  padding: 5px 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #E9E9EC;
}
.header-top .list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top .list-link li:not(:last-child) {
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid #E9E9EC;
}
.header-top .list-link a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #091D3E;
}
.header-top .list-link a:hover {
  color: #0092FF;
}
.header-top .account a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #091D3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top .account a:hover {
  color: #0092FF;
}
.header-top .account a img {
  margin-right: 10px;
}
.header-bottom {
  background: #F7F7F7;
}
.header-bottom .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
}
.header-bottom .main-menu a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #091D3E;
}
.header-bottom .main-menu a i {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 800;
}
.header-bottom .main-menu li {
  position: relative;
}
.header-bottom .main-menu li:hover a {
  color: #0092FF;
}
.header-bottom .main-menu li:hover .chile-menu {
  top: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  visibility: visible;
}
.header-bottom .main-menu li .chile-menu {
  min-width: 100%;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(19, 10, 46, 0.13);
          box-shadow: 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 4px;
  left: 0;
  top: 120%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s;
  transition: all 0s;
  padding: 10px 0;
  z-index: 1;
}
.header-bottom .main-menu li .chile-menu li {
  display: block;
}
.header-bottom .main-menu li .chile-menu li a {
  display: block;
  height: 32px;
  line-height: 32px;
  background: '#ffffff';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #091D3E;
  padding: 0 15px;
  white-space: nowrap;
}
.header-bottom .main-menu li .chile-menu li a:hover {
  background: #0092FF;
  color: white;
}
.header-center {
  padding: 20px 0;
}
.header-center .search-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  background: #F7F7F7;
  border: 1px solid #E9E9EC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-center .search-wrapper:hover,
.header-center .search-wrapper:focus {
  border: 1px solid #0092FF;
}
.header-center .search-wrapper .btn-search {
  border: none;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-center .search-wrapper .btn-search:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
.header-center .search-wrapper input {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #091D3E;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: transparent;
  width: 50%;
  margin-right: 15px;
}
.header-center .search-wrapper input::-webkit-input-placeholder {
  color: #858FA0;
}
.header-center .search-wrapper input::-moz-placeholder {
  color: #858FA0;
}
.header-center .search-wrapper input:-ms-input-placeholder {
  color: #858FA0;
}
.header-center .search-wrapper input::-ms-input-placeholder {
  color: #858FA0;
}
.header-center .search-wrapper input::placeholder {
  color: #858FA0;
}
.header-center .search-wrapper input:focus,
.header-center .search-wrapper input:hover,
.header-center .search-wrapper input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}
.header-center .advise-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-center .advise-wrapper .btn-registration {
  height: 44px;
  line-height: 44px;
  background: #F1F6FD;
  border-radius: 4px;
  padding: 0 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #0092FF;
  margin-left: 20px;
}
.header-center .advise-wrapper .btn-registration:hover {
  background-color: #0092FF;
  color: white;
}
.header-center .hot-line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-center .hot-line-wrapper:first-child {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #E9E9EC;
}
.header-center .hot-line-wrapper img {
  margin-right: 10px;
}
.header-center .hot-line-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-center .hot-line-wrapper .content span {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #858FA0;
}
.header-center .hot-line-wrapper .content .phone {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #091D3E;
  margin-top: 3px;
}
.header-center .hot-line-wrapper .content .phone:hover {
  color: #0092FF;
}
.modal-custom {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  background: #FFFFFF;
  border-radius: 12px;
}
.modal-registration {
  display: none;
  width: 700px;
}
.modal-registration .modal-header {
  padding: 0;
  border: none;
  position: relative;
}
.modal-registration .modal-header img {
  width: 100%;
}
.modal-registration .modal-header .btn-close {
  position: absolute;
  z-index: 1;
  width: 44px;
  height: 44px;
  background: #FAFCFF;
  opacity: 0.6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 15px;
  right: 15px;
  padding: 0;
}
.modal-registration .modal-header .btn-close img {
  width: 15px;
  height: 15px;
}
.modal-registration .modal-footer {
  padding: 25px;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
}
.modal-registration .modal-footer .btn-submit {
  height: 48px;
  line-height: 48px;
  background: #0092FF;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0 25px;
  margin: 0;
}
.modal-registration .modal-body {
  padding: 25px;
  padding-bottom: 0;
  border: none;
}
.modal-registration .modal-body .title-wrapper {
  text-align: center;
  color: #091D3E;
  margin-bottom: 25px;
}
.modal-registration .modal-body .title-wrapper .title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-registration .modal-body .title-wrapper .title img {
  margin-right: 10px;
}
.modal-registration .modal-body .title-wrapper .sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.modal-registration .modal-body .title-wrapper .sub-title a {
  color: #091D3E;
  font-weight: 600;
}
.modal-registration .modal-body .title-wrapper .sub-title a:hover {
  color: #0092FF;
}
.modal-registration .modal-body .row {
  margin: 0 -6px;
}
.modal-registration .modal-body [class*="col-"] {
  padding: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}
.modal-registration .modal-body [class*="col-"] label {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #858FA0;
  margin-bottom: 5px;
}
.modal-registration .modal-body [class*="col-"] label sup {
  color: red;
}
.modal-registration .modal-body [class*="col-"] textarea.field {
  height: 90px;
  padding: 15px;
}
.modal-registration .modal-body [class*="col-"] .field {
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #E9E9EC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #091D3E;
  padding: 0 12px;
}
.modal-registration .modal-body [class*="col-"] .field:focus,
.modal-registration .modal-body [class*="col-"] .field:hover {
  border: 1px solid #091D3E;
}
.modal-registration .modal-body [class*="col-"] .field::-webkit-input-placeholder {
  color: #858FA0;
}
.modal-registration .modal-body [class*="col-"] .field::-moz-placeholder {
  color: #858FA0;
}
.modal-registration .modal-body [class*="col-"] .field:-ms-input-placeholder {
  color: #858FA0;
}
.modal-registration .modal-body [class*="col-"] .field::-ms-input-placeholder {
  color: #858FA0;
}
.modal-registration .modal-body [class*="col-"] .field::placeholder {
  color: #858FA0;
}
.modal-registration .modal-body [class*="col-"] .field-date-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.modal-registration .modal-body [class*="col-"] .field-date-wrapper .field-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.modal-registration .modal-body [class*="col-"] .field-date-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.modal-registration .modal-body [class*="col-"] .field-date-wrapper .fa {
  display: block;
  width: 44px;
  height: 100%;
  background: #F7F7F7;
  border: 1px solid #E9E9EC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 4px 4px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-registration .modal-body [class*="col-"] .field-date-wrapper .result {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #091D3E;
  padding: 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper {
  position: relative;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper:hover #list-results {
  opacity: 1;
  visibility: visible;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper .field {
  background: transparent;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper .field:hover + #list-results,
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper .field:focus + #list-results,
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper .field:visited + #list-results {
  opacity: 1;
  visibility: visible;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper #list-results {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  max-height: 200px;
  overflow: auto;
  padding: 15px;
  background-color: #FFFFFF;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 3px rgba(19, 10, 46, 0.13);
          box-shadow: 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper #list-results::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper #list-results::-webkit-scrollbar-track {
  background: white;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper #list-results::-webkit-scrollbar-thumb {
  background: #858FA0;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper #list-results::-webkit-scrollbar-thumb:hover {
  background: #091D3E;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper #list-results .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper #list-results .item:not(:last-child) {
  margin-bottom: 10px;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper #list-results .item .name {
  color: #091D3E;
  margin-right: 3px;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper #list-results .item .job {
  color: #858FA0;
}
.modal-registration .modal-body [class*="col-"] .field-doctor-wrapper .fa {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  color: #091D3E;
  z-index: 1;
  font-size: 20px;
}
.modal-registration .modal-body .table-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #091D3E;
  margin-bottom: 15px;
  margin-top: -10px;
}
.modal-registration .modal-body .table td {
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #091D3E;
  border: 3px solid white;
  padding: 10px 15px;
  background: #F7F7F7;
}
.modal-registration .modal-body .table td strong {
  font-weight: 600;
}
.modal-login {
  width: 460px;
  display: none;
}
.modal-login .modal-header {
  padding: 0;
  border: none;
}
.modal-login .modal-header .btn-close {
  position: absolute;
  background: none;
  top: 25px;
  right: 25px;
  z-index: 1;
}
.modal-login .modal-footer {
  padding: 0 40px 40px;
  border: none;
}
.modal-login .modal-footer > * {
  margin: 0;
}
.modal-login .modal-footer .line {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.modal-login .modal-footer .line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.modal-login .modal-footer .line:after {
  background-color: #E9E9EC;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal-login .modal-footer .line span {
  background: white;
  padding: 0 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #091D3E;
  position: relative;
  z-index: 2;
}
.modal-login .modal-footer .social-login-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.modal-login .modal-footer .btn-social-login {
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}
.modal-login .modal-footer .btn-social-login span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.modal-login .modal-footer .facebook {
  background: #4267B2;
  color: #fff;
  margin-right: 12px;
}
.modal-login .modal-footer .google {
  background: #FFFFFF;
  border: 1px solid #CECED0;
  color: #091D3E;
}
.modal-login .modal-footer .anonymus {
  display: inline-block;
  margin: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #858FA0;
  position: relative;
}
.modal-login .modal-footer .anonymus:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.modal-login .modal-footer .anonymus:after {
  background-color: #858FA0;
  bottom: 0;
}
.modal-login .modal-footer .anonymus:hover {
  color: #0092FF;
}
.modal-login .modal-footer .anonymus:hover:after {
  background-color: #0092FF;
  bottom: 0;
}
.modal-login .modal-body {
  padding: 40px 40px 0;
}
.modal-login .modal-body .title-wrapper {
  text-align: center;
  color: #091D3E;
}
.modal-login .modal-body .title-wrapper .title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
}
.modal-login .modal-body .title-wrapper .sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 15px;
  margin-bottom: 25px;
}
.modal-login .modal-body .title-wrapper a {
  position: relative;
}
.modal-login .modal-body .title-wrapper a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.modal-login .modal-body .title-wrapper a:after {
  background-color: #0092FF;
  bottom: 0;
}
.modal-login .modal-body .field {
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #E9E9EC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #091D3E;
  margin-bottom: 12px;
  padding: 0 12px;
}
.modal-login .modal-body .field::-webkit-input-placeholder {
  font-size: 14px;
  color: #091D3E;
}
.modal-login .modal-body .field::-moz-placeholder {
  font-size: 14px;
  color: #091D3E;
}
.modal-login .modal-body .field:-ms-input-placeholder {
  font-size: 14px;
  color: #091D3E;
}
.modal-login .modal-body .field::-ms-input-placeholder {
  font-size: 14px;
  color: #091D3E;
}
.modal-login .modal-body .field::placeholder {
  font-size: 14px;
  color: #091D3E;
}
.modal-login .modal-body .field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;
}
.modal-login .modal-body .field-group .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-login .modal-body .field-group input[type=check-box] {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.modal-login .modal-body .field-group label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #091D3E;
  margin-left: 5px;
}
.modal-login .modal-body .field-group .forgot-password {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #0092FF;
}
.modal-login .modal-body .field-group .forgot-password:hover {
  position: relative;
}
.modal-login .modal-body .field-group .forgot-password:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.modal-login .modal-body .field-group .forgot-password:hover:after {
  background-color: #0092FF;
  bottom: 0;
}
.modal-login .modal-body .btn-login {
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #0092FF;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.modal-login .modal-body .btn-login:hover {
  background: #091D3E;
}
body.has-modal:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: black;
  opacity: 0.6;
  left: 0;
  top: 0;
}
